<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./views.css" type="text/css" />
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <title>chat dev</title>
    <style>
        body {
            background: cadetblue;
        }

        #video-grid {
            display: flex;
            justify-content: center;
        }

        video {
            margin: 20px;
            width: 100%;
            height: 100%;
            max-width: 600px;
            max-height: 600px;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <div id="video-grid">
        <div>
            <button id="share-screen">Share screen</button>
        </div>
    </div>

</body>

</html>